<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
<meta name="baidu-site-verification" content="npJ28WBq18" />
  <title>亿时光</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
  <div id="root"></div>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.options.commonName %>"></script>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.options.libName %>"></script>
</body>
</html>
